<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Properties>
        <Property name="property_console">
            %d{HH:mm:ss} %-5level %logger{1} - %msg%n
        </Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${property_console}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>